@import "~bootstrap/scss/bootstrap";
.mp-h-100-data-form {
  height: calc(100vh - 72px - 38px - 8px);
}

.mp-vh-100 {
  height: calc(100vh - 72px);
}

@include media-breakpoint-up(sm) {
  .mp-vh-100 {
    height: calc(100vh);
  }
  .mp-h-100-data-form {
    height: calc(100vh - 38px - 24px);
  }
}
